src/wsdl/localhost_8080/sistex/Ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico/" name="Ws">
<types>
<xsd:schema>
<xsd:import namespace="http://servico/" schemaLocation="http://localhost:8080/sistex/Ws?xsd=1"/>
</xsd:schema>
</types>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes"/>
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse"/>
</message>
<message name="getPedido">
<part name="parameters" element="tns:getPedido"/>
</message>
<message name="getPedidoResponse">
<part name="parameters" element="tns:getPedidoResponse"/>
</message>
<message name="listarPedidos">
<part name="parameters" element="tns:listarPedidos"/>
</message>
<message name="listarPedidosResponse">
<part name="parameters" element="tns:listarPedidosResponse"/>
</message>
<message name="getProduto">
<part name="parameters" element="tns:getProduto"/>
</message>
<message name="getProdutoResponse">
<part name="parameters" element="tns:getProdutoResponse"/>
</message>
<message name="listarProdutos">
<part name="parameters" element="tns:listarProdutos"/>
</message>
<message name="listarProdutosResponse">
<part name="parameters" element="tns:listarProdutosResponse"/>
</message>
<message name="getCliente">
<part name="parameters" element="tns:getCliente"/>
</message>
<message name="getClienteResponse">
<part name="parameters" element="tns:getClienteResponse"/>
</message>
<message name="listarFuncionarios">
<part name="parameters" element="tns:listarFuncionarios"/>
</message>
<message name="listarFuncionariosResponse">
<part name="parameters" element="tns:listarFuncionariosResponse"/>
</message>
<portType name="Ws">
<operation name="listarClientes">
<input wsam:Action="http://servico/Ws/listarClientesRequest" message="tns:listarClientes"/>
<output wsam:Action="http://servico/Ws/listarClientesResponse" message="tns:listarClientesResponse"/>
</operation>
<operation name="getPedido">
<input wsam:Action="http://servico/Ws/getPedidoRequest" message="tns:getPedido"/>
<output wsam:Action="http://servico/Ws/getPedidoResponse" message="tns:getPedidoResponse"/>
</operation>
<operation name="listarPedidos">
<input wsam:Action="http://servico/Ws/listarPedidosRequest" message="tns:listarPedidos"/>
<output wsam:Action="http://servico/Ws/listarPedidosResponse" message="tns:listarPedidosResponse"/>
</operation>
<operation name="getProduto">
<input wsam:Action="http://servico/Ws/getProdutoRequest" message="tns:getProduto"/>
<output wsam:Action="http://servico/Ws/getProdutoResponse" message="tns:getProdutoResponse"/>
</operation>
<operation name="listarProdutos">
<input wsam:Action="http://servico/Ws/listarProdutosRequest" message="tns:listarProdutos"/>
<output wsam:Action="http://servico/Ws/listarProdutosResponse" message="tns:listarProdutosResponse"/>
</operation>
<operation name="getCliente">
<input wsam:Action="http://servico/Ws/getClienteRequest" message="tns:getCliente"/>
<output wsam:Action="http://servico/Ws/getClienteResponse" message="tns:getClienteResponse"/>
</operation>
<operation name="listarFuncionarios">
<input wsam:Action="http://servico/Ws/listarFuncionariosRequest" message="tns:listarFuncionarios"/>
<output wsam:Action="http://servico/Ws/listarFuncionariosResponse" message="tns:listarFuncionariosResponse"/>
</operation>
</portType>
<binding name="WsPortBinding" type="tns:Ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProdutos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFuncionarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Ws">
<port name="WsPort" binding="tns:WsPortBinding">
<soap:address location="http://localhost:8080/sistex/Ws"/>
</port>
</service>
</definitions>